# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.html]
max_line_length = 90
indent_size = 2

[*.{css,scss,sass,less,styl}]
max_line_length = 100
indent_size = 6

[*.{json,yaml,yml}]
max_line_length = 80
indent_size = 2
end_of_line = lf

[*.{js,jsx,mjs,cjs,ts,tsx,mts,cts,vue}]
quote_type = single
ij_typescript_use_double_quotes = false
end_of_line = lf
max_line_length = 100
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false
